
*{
    margin: 0;
    padding: 0;
}

#tableauUser { 
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;

    #title th{
        background-color: #222222;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }

    th {
        background: #393939;
        color: white;
        font-weight: bold;
    }

    td {
        background-color:brown;
        color: lightgray;
    }
  }
